body{
    background-color:rgb(8, 8, 10);
    color: white;
}

header{
    background-color: rgb(25, 25, 28);
}

#first-div{
    grid-template-columns: 1fr 2fr;
}

#human-icon{
    color: white; 
    padding-right: 20px;
}

.login {
    width: 100px;
    height: 460px;
    background-color: rgb(18, 21, 24);
    border-radius: 10px;
}

#remember-me-text{
    position: absolute;
}

h4 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    display: block;
    margin-bottom: 0;
}

p {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

form {
    margin-left: 50px;
    color: white;
}

.input {
    background-color: rgb(43, 43, 46);
    border-radius: 8px;
    border-color: rgb(243, 156, 18);
    width: 90%;
    height: 35px;
    color: white;
    margin-top: 7px;
}

.button {
    font-size: 15px;
    width: 90%;
    height: 40px;
    border-radius: 9px;
    color: white;
    background-color: rgb(243, 156, 18);
}

#dsew {
    border-radius: 10px;
}


.sidebar-link {
    background-color: rgb(22, 22, 22);
    color: #FBBF24;
    margin-left: 15px;
    width: 280px;
    height: 40px;
    text-decoration: none;
}

#blog-p{
    position: absolute; 
    font-size: 16px;
}

.sidebar-link.active {
    color: #FBBF24;
}

a:hover {
    color: #FBBF24;
}

a:visited {
    color: #FBBF24;
}

#orders-number {
    color: #FBBF24;
    border-radius: 7px;
    border: 1px solid #FBBF24;
    width: 35px;
    height: 23px;
    font-size: 13px; 
    display:inline-block; 
    margin-left: 160px;
}

.sidebar-link-ana {
    color: #FBBF24;
}

.sidebar-link-ana.active {
    color: #FBBF24;
}

#sign-out {
    color: white;
    border: 5px solid #FBBF24;
    border-radius: 7px;
    background-color: #FBBF24;
    font-size: 16px;
}

#sign-in {
    color: white;
    border: 5px solid #FBBF24;
    border-radius: 7px;
    background-color: #FBBF24;
    font-size: 16px;
}

/* #search-2{
    color: white;
    width: 230px;
    height: 40px;
    background-color: rgb(35, 35, 38);
    float: right;
    border: 1px  solid rgb(71, 71, 74);
    border-radius: 0 10px 10px 0;
    margin-right: 30px;
    margin-top: 8px;
    border-left: none;
} */

#search {
    color: white;
    width: 300px;
    height: 40px;
    background-color: rgb(35, 35, 38);
    border: 1px solid rgb(108, 108, 108);
    border-radius: 10px;
    float: right;
}

input[type="search"]::placeholder {
    color: rgb(109, 109, 117);
}

@media screen and (max-width:700px) {
    #fila-font {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media screen and (max-width:500px) {
    #search {
        width: 200px !important;
    }

    #fila-font {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media screen and (max-width:450px) {
    #search {
        width: 170px !important;
    }

    #fila-font {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
}

#fila-font {
    font-size: 20px;
}

#dashboard-mini{
    color: rgb(229, 242, 253); 
    text-decoration: none;
}

#sidebarToggleBtn {
    display: none;
}

@media screen and (max-width:376px) {
    #search {
        width: 150px !important;
    }

    #search-div {
        width: 100px;
    }

    #fila-font {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
}



#nav-file-btn {
    display: flex;
}

::placeholder {
    /* modern browser */
    color: white;
}

.rightbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6px;
}

.rightbar a {
    padding: 10px 400px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.rightbar a:hover {
    color: #f1f1f1;
}

.closebutton {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

.content2 {
    transition: margin-right .5s;
    padding: 16px;
}

.rightsmallbar {
    color: white !important;
}

.rightsmallbar:hover {
    color: #818181 !important;
}

#side {
    width: 300px;
    height: 650px;
    display: flex;
    padding-left: 0;
}

#pshop {
    position: absolute;
    padding-left: 18px;
    padding-top: 84px;
    font-size: 16px;
}

#first-c-div {
    height: 250px;
    width: 1190px;
}

.first-m-div {
    border-radius: 15px;
    border: 1px solid rgb(34, 34, 36);
    width: 31%;
    height: 100px;
    background-color: rgb(25, 25, 28);
}

.first-m-font{
    font-size: 16px; 
    padding-left: 10px;
}

#menu {
    height: 250px;
}

@media screen and (max-width:1200px) {
    .first-m-div {
        width: 100%;
        margin-bottom: 20px;
    }

    #first-c-div{
        width: 100% !important;
    }
}

@media screen and (max-width:935px) {
    #first-c-div {
        width: 600px !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:376px) {
    .first-m-div {
        width: 800px !important;
        margin-bottom: 20px;
    }

    #first-c-div{
        width: 330px !important;
    }
}

@media screen and (max-width:1200px) {
    #menu {
        width: 300px;
        height: 400px;
    }
}




.mobile-menu-icon {
    display: none;/
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none !important;
    }

    .mobile-menu-icon {
        display: block;
    }

}

#alt-div {
    display: inline-block;
    margin-left: 10px;
    background-color: rgb(25, 25, 28);
    width: 1160px;
    height: 1000px;
    border-radius: 20px;
    border: 1px solid rgb(34, 34, 36);
    white-space: nowrap;
    overflow-x: auto; /* Yatay kaydırma çubuğunu göster */
    overflow-y: hidden;
}

@media screen and (max-width: 1300px) {
    #alt-div{
        width: 900px;
    }
    .th-btn{
        width: 50px;
        font-size: 8px;
    }
    #table{
        width: 80px;
    }
}

@media screen and (max-width:1200px) {
    #first-c-div{
        width: 600px !important;
    }

    #alt-div{
        width: 600px;
        margin-top: 200px !important;
    }

    #search-left{
        margin-left: 10px !important;
        float: left !important;
    }

    #search-2{
       float: left !important;
       
    }
}

@media screen and (max-width:850px) {
    #alt-div{
        width: 400px;
    }
    #first-c-div{
        width: 400px !important;
    }
}

@media screen and (max-width:600px) {
    #first-c-div{
        width: 500px  !important;
    }

    #alt-div{
        width: 500px;
    }
}
@media screen and (max-width:500px) {
    #first-c-div{
        width: 400px  !important;
    }

    #alt-div{
        width: 400px;
    }
}
@media screen and (max-width:430px) {
    #first-c-div{
        width: 350px  !important;
    }

    #alt-div{
        width: 350px;
    }
}

@media screen and (max-width:400px){
    #first-c-div{
        width: 300px  !important;
    }
    #alt-div{
        width: 333px;
        margin-top: 200px !important;
    }

    .huni-btn{
        margin-left: 300px !important;
    }

    #search-2{
        width: 70px !important;
    }

    #th-0{
        width: 1180px !important;
    }
    
}

#sira-1 {
    background-color: rgb(25, 25, 28);
    width: 846px;
    height: 60px;
    border-radius: 10px 10px 0 0;
}

#search-2 {
    color: white;
    width: 230px;
    height: 40px;
    background-color: rgb(35, 35, 38);
    float: right;
    border: 1px solid rgb(71, 71, 74);
    border-radius: 0 10px 10px 0;
    margin-right: 30px;
    margin-top: 8px;
    border-left: none;
}

#search-left {
    border: 1px solid rgb(71, 71, 74);
    border-radius: 10px 0 0 10px;
    margin-top: 8px;
    width: 32px;
    height: 40px;
    background-color: rgb(35, 35, 38);
    border-right: none;
    margin-left: 260px;
    float: right;
}

#search-svg {
    margin-top: 12px;
    margin-left: 5px;
    color: rgb(109, 109, 117);

}

#select {
    color: white;
    background-color: rgb(35, 35, 38);
    width: 116px;
    height: 40px;
    border: 1px solid rgb(71, 71, 74);
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 20px;
}

#huni {
    color: rgb(114, 114, 122);
    margin-top: 18px;
}

.huni-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    transition: box-shadow 0.3s;
    float: right;
}

.hubi-btn:hover {
    color: white;
}

.huni-svg {
    color: rgb(114, 114, 122);
    margin-top: 16px;
}

#huni-svg-number {
    color: #FBBF24;
    border-radius: 7px;
    border: 1px solid #FBBF24;
    font-size: 12px;
    width: 17px;
    height: 18px;
}

#columns-svg {
    color: rgb(114, 114, 122);
    margin-top: 16px;
    margin-right: 20px;
}

.columns-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    transition: box-shadow 0.3s;
    margin-left: 15px;
}

#th-0{
    height: 52px;
    width: 1180px;
    background-color: rgb(35, 35, 38);
}

#th-0-div{
    background-color: rgb(35, 35, 38);
    height: 48px;
    width: 40px;
}

#th-1{
    display: flex;
    height: 56px;
    background-color: rgb(25, 25, 28);
}

#th-1-div{
    background-color: rgb(25, 25, 28);
    height: 56px;
    width: 40px;
}

.b-div{
    width: 138px;
    height: 56px;
    background-color: rgb(25, 25, 28);
}

#b-div-1{
    width: 138px;
    height: 56px;
    background-color: rgb(25, 25, 28);
    margin-left: 55px;
}

#b-div-bos{
    width: 138px;
    height: 56px;
    background-color: rgb(25, 25, 28);
    margin-left: 64px;
}

#b-div-bos-1{
    width: 138px;
    height: 56px;
    background-color: rgb(25, 25, 28);
    margin-left: 77px;
}
#b-div-bos-2{
    width: 138px;
    height: 56px;
    background-color: rgb(25, 25, 28);
    margin-left: 53px;
}

#b-div-2{
    width: 128px;
    height: 56px;
    background-color: rgb(25, 25, 28);
}

#b-o-div-4{
    float: left;
    margin-left: 0px;
    margin-top: 15px;
}

#b-o-div-5{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#b-o-div-6{
    float: left;
    margin-left: 35px;
    margin-top: 15px;
}

#b-o-div-7{
    float: left;
    margin-left: 82px;
    margin-top: 15px;
}

#b-o-div-8{
    margin-left: 52px;
    margin-top: 15px;
}

#b-div-edit{
    margin-left: 35px;
    width: 78px;
    height: 56px;
    background-color: rgb(25, 25, 28);
}

.spans{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

.b-o-div-1{
    margin-left: 18px;
    margin-top: 15px;
}

#b-o-div-2{
    float: left;
    margin-left: 18px;
    margin-top: 15px;
}

#b-o-div-3{
    float: left;
    margin-left: 0px;
    margin-top: 15px;
}

#b-o-div-1-tr{
    width: 80px;
   border-radius: 5px;
   border: 1px solid rgb(64, 222, 127);
    margin-top: 15px;
    margin-left: 10px;
}

#b-o-div-1-tr-2{
    width: 80px;
   border-radius: 5px;
   border: 1px solid rgb(64, 222, 127);
    margin-top: 15px;
    margin-left: 62px;
}

#b-o-div-1-can{
    width: 90px;
   border-radius: 5px;
   border: 1px solid rgb(240, 67, 67);
    margin-top: 15px;
    margin-left: 74px;
}

#b-o-div-1-star{
    width: 60px;
   border-radius: 5px;
   border: 1px solid rgb(59, 130, 245);
    margin-top: 15px;
    margin-left: 85px;
}

#b-o-div-1-repe{
    width: 90px;
   border-radius: 5px;
   border: 1px solid rgb(199, 177, 36);
    margin-top: 15px;
    margin-left: 58px;
}

#spans-tr{
    color: rgb(64, 222, 127);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

#spans-can{
    color: rgb(240, 67, 67);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

#spans-star{
    color: rgb(59, 130, 245);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

#spans-repe{
    color: rgb(199, 177, 36);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

#tr-svg{
    color: rgb(64, 222, 127);
}

#can-svg{
    margin-bottom: 3px;
    color: rgb(240, 67, 67);
}

#star-svg{
    color: rgb(59, 130, 245);
    margin-bottom: 3px;
}

#repe-svg{
    color: rgb(199, 177, 36);
    margin-bottom: 3px;
}


input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background-color: rgb(48, 48, 51);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 16px;
    display: flex;
    margin-left: 20px;
}

input[type="checkbox"]:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 13px;
    color: white;
    display: none;
}

input[type="checkbox"]:hover{
    background-color: #FBBF24;
}

input[type="checkbox"]:checked{
    background-color: #FBBF24;
}

input[type="checkbox"]:checked::after{
    display: block;
}

.th-btn{
    width: 100px;
    margin-left: 60px !important;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

#th-btn-number{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    transition: box-shadow 0.3s;
    margin-left: 19px;
}

.th-size{
    font-size: 15px;
    margin-right: 2px;
}

#customer{
    margin-left: 30px !important;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

#status{
    font-size: 15px;
    margin-top: 14px;
    margin-left: 85px;
}

